    {{!-- *********************** SEARCH TABLE ********************************** --}}
<div class="container">
    <div class="card mt-4">
        <div class="card-body">
            <h1>Búsqueda</h1>
            {{>medicine/list tbID="tbSearch" modal=false}}
            {{>medicine/modalEntries}}
            <div class="form-group">
                <button id="btnAdd" class="btn btn-primary btn-block"> Añadir</button>
            </div>
        </div>
    </div>


    {{!-- *********************** ADD TABLE********************************** --}}
    <div class="card mt-4">
        <div class="card-body">

            <h1>Medicamentos a agregar </h1>
            {{> medicine/list tbID="tbAdd" modal=true  quantity=true}}
            <div class="form-group">
                <button id="btnCompleteEntry" class="btn btn-primary btn-block">Completar Entrada</button>
            </div>
        </div>
    </div>
</div>


<!--SCRIPTS-->
<script src="/js/medicine/entries.js"></script>
<script src="/js/medicine/modalCreateUpdate.js"></script>
