<div class="row w-100 col-12 m-0">
    <h1>Salidas</h1>
    <div class="row w-100 col-12 m-0">
        {{!-- *********************** SEARCH TABLE ********************************** --}}
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-12 col-xl-6 p-1">
                    <div class="card mt-4 ">
                        <h2 class="card-header">
                            Búsqueda
                        </h2>
                        <div class="card-body align-middle">
                            {{>medicine/list tbID="tbSearch" width=100 source="exits"}}
                            {{>medicine/modalEntriesExits}}
                        </div>
                    </div>

                </div>


                {{!-- *********************** ADD TABLE********************************** --}}
                <div class="col-12 col-xl-6 p-1">
                    <div class="card mt-4 ">
                        <h2 class="card-header">
                            Medicamentos a agregar
                        </h2>
                        <div class="card-body">
                            {{> medicine/list tbID="tbAdd" modal=false quantity=true width=100}}
                            <div class="form-group">
                                <button id="btnCompleteEntry" class="btn bg-pink btn-block">Completar
                                    Salida</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {{> medicine/calculator}}
</div>

<!--SCRIPTS-->
<script src="/js/medicine/exits.js"></script>
<script src="/js/medicine/Sh-GeneralFunctions.js"></script>
<script src="/js/medicine/Sh-EntriesExits.js"></script>
<script src="/js/medicine/Sh-List.js"></script>