<div class="row w-100 col-12 m-0">
    <h1>Inventario</h1>
    <div class="row w-100 col-12 m-0">
        {{>medicine/list tbID="tbMeds" modal=true source="inventory"}}
    </div>
</div>
<!--SCRIPTS-->
<script src="/js/medicine/inventory.js"></script>
<script src="/js/medicine/Sh-GeneralFunctions.js"></script>
<script src="/js/medicine/Sh-List.js"></script>