      <!-- Footer -->
      <footer class="sticky-footer bg-gray-200">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>"Pero Dios nos demostró su gran amor al enviar a Jesucristo a morir por nosotros, a pesar de que nosotros todavía éramos pecadores."
                <p class="mt-1">Romanos 5:8 TLA</p></span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->