<nav class="navbar navbar-expand-xl navbar-light bg-primary shadow static-top">
  <div class="container-fluid">

    {{!-- BRAND --}}
    <a class="navbar-brand d-flex align-items-center justify-content-center" href="/">
      <div class="text-dark-custum mx-3">Dres. Gama</div>
    </a>

    {{!-- TOGGLER --}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>

    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item navbar-text">
          <a class="nav-link" href="/meds">
            <i class="fa fa-table fa-fw"></i>
            <span>Inventario</span></a>
        </li>
        {{!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Medicine
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/meds/add">Inventario</a>
            <a class="dropdown-item" href="/meds">List</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> --}}
      </ul>
      <form class="d-sm-inline-block form-inline navbar-search">
        <div class="input-group">
          <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
            aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn bg-light-green" type="button">
              <i class="fa fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>
    </div>


  </div>
</nav>