.table{
    border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
    table-layout: fixed !important;
    word-wrap:break-word;

    
  }
  .right-aligned-cell{
    text-align: right;
  }
  .center-aligned-cell{
    text-align: center;
  }
  .left-aligned-cell{
    text-align: left;
  }

  .emphasize{
    color: theme-color("dark-green");
  }

  .icontable{
    font-size: 1.4rem !important;
  }
  
  // .text-adjust{
  //   font-size:small;
  // }

  