.table{
    border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
    table-layout: fixed !important;
    word-wrap:break-word;
  }
  .table-active,
  .table-active > th,
  .table-active > td
  .table-active > tr {
    background-color: red;
  }
  .right-aligned-cell{
    text-align: right;
  }
  .center-aligned-cell{
    text-align: center;
  }
  .text-adjust{
    font-size:small;
  }

  