//COLORS
$theme-colors: (
  "primary": #C0DE00,
  "fluor-green": #7DF229,
  "dark-green": #44AA00,
  "dark-custum": #333333,
  "light-green":#e4f578
);

//FONTS
.footer-txt{font-family: 'Sriracha', cursive;}
.navbar-brand{
  font-family: 'Pacifico', cursive;
  font-size: larger;
}
.body{font-family: 'ABeeZee', sans-serif;} 

