<div id="calculator" class="container mt-5">
    <div class="mx-auto">
        <h1 class="mx-auto d-flex">Calculadora</h1>
    </div>
    <div class="row">
        <div class="col-12 mx-auto">
            <span class="font-weight-bold indigo-text mt-1 col-1 " id="spanCalcMin">0</span>
            <input type="range" id="rangeCalculator" class="custom-range border-0 col-10" min="0" max="10" step="1.0">
            <span class="font-weight-bold indigo-text mt-1 col-1" id="spanCalcMax">10</span>
        </div>
    </div>
    <label for="iCalcTotal" class="col-form-label">Total: </label>
    <input id="iCalcTotal" type="number" class="form-control" name="CalcTotal" min="0" max="10" step="1.0">

    <div class="text-center mt-4">
        <div id="#CalculatorMessage" class="alert alert-danger"
            style="width: 100%;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            El total está fuera del rango
        </div>
    </div>

</div>