<div id="calculator" class="container mt-5">
    <div class="mx-auto">
        <h1 class="mx-auto d-flex">Calculadora</h1>
    </div>
    <label for="iCalcTotal" class="col-form-label">Total Medicina: </label>
    <input id="iCalcTotal" type="number" class="form-control" style="width: 40%;" name="CalcTotal" min="0" max="10"
        step="1.0">

    <div class="text-center mt-4">
        <div id="#CalculatorMessage" class="alert alert-danger" style="width: 100%;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            El total está fuera del rango
        </div>
    </div>

    <div class="row">
        <input type="range" id="rangeCalculator" class="custom-range border-0 col-12" min="0" max="10" step="1.0">
    </div>

    <div class="row">
        <div class="font-weight-bold indigo-text mt-1 col-6" id="spanCalcMin">0</div>
        <div class="font-weight-bold indigo-text mt-1 col-6 text-right" id="spanCalcMax">10</div>
    </div>

    <div class="row  row-no-gutters">
        <button type="button" id="btnRoundTotal"
            class="btn btn-secondary  mt-2 col-sm-4 col-md-2 mr-4 ml-4">Redondear</button>
        <button type="button" id="btnAddConsulta" class="btn btn-secondary  mt-2  col-sm-4 col-md-2 mr-4 ml-4"><span
                id="btnAddConsultaSpan">Agregar Consulta</span></button>
    </div>
    <div>
        <div class="mx-auto">
            <h4 class="mx-auto text-pink d-flex mt-4">Total: <span id="TotalCalcMed">0</span></h4>
        </div>
    </div>
</div>