<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

{{!-- Create and Update Modal  --}}
<div class="modal fade" id="modalCU" tabindex="-1" role="dialog" aria-labelledby="modalCULabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>

            <form id="formMeds">
                <div class="modal-body">
                    <input class="modal-option d-none">
                    <div class="row">
                        {{!-- ******** SUSTANCIA ******** --}}
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="form-group">
                                <label for="SustanciaActiva" class="col-form-label">Sust. Act: <span
                                        class="text-danger">*</span></label>
                                <input id="iSustanciaActiva" type="text" class="form-control" name="SustanciaActiva"
                                    required>
                            </div>
                        </div>
                        {{!-- ******** NOMBRE ******** --}}
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="form-group">
                                <label for="NombreComercial" class="col-form-label">Nombre Comercial: <span
                                        class="text-danger">*</span></label>
                                <input id="iNombreComercial" type="text" class="form-control" name="NombreComercial"
                                    required>
                            </div>
                        </div>
                        {{!-- ******** PRESENTACION ******** --}}
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="form-group">
                                <label for="Presentacion" class="col-form-label">Presentación:</label>
                                <input id="iPresentacion" type="text" class="form-control" name="Presentacion">
                            </div>
                        </div>
                        {{!-- ******** CONTENIDO ******** --}}
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="form-group">
                                <label for="Contenido" class="col-form-label">Contenido:</label>
                                <input id="iContenido" type="text" class="form-control" name="Contenido">
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        {{!-- ******** DOSIS ******** --}}
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="form-group">
                                <label for="Dosis" class="col-form-label">Dósis:</label>
                                <input id="iDosis" type="text" class="form-control" name="Dosis">
                            </div>
                        </div>
                        {{!-- ******** SALDO ANTERIOR ******** --}}
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="form-group">
                                <label for="Saldo" class="col-form-label">Saldo{{#if quantity}} Anterior{{/if}}:</label>
                                <input id="iSaldo" type="number" class="form-control" step="1" min="0" name="Saldo">
                            </div>
                        </div>

                        {{!-- ******** CANTIDAD ******** --}}
                        {{#if quantity}}
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="form-group">
                                <label for="Quantity" class="col-form-label">Cantidad: <span
                                        class="text-danger">*</span></label>
                                <input id="iQuantity" type="number" class="form-control" step="1" min="1"
                                    name="Quantity" required>
                            </div>
                        </div>
                        {{/if}}
                        {{!-- ******** CADUCIDAD ******** --}}
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="mx-auto">
                                <div class="form-group">
                                    <div class="align-center">
                                        <label for="Caducidad" class="col-form-label ml-5 pl-3">Caducidad</label>
                                        <input id="iCaducidad" type="date" class="form-control pointer"
                                            name="Caducidad">
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="row">
                        {{!-- ******** $ PROVEEDOR ******** --}}
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="form-group">
                                <label for="P_Proveedor" class="col-form-label">$ Proveedor: <span
                                        class="text-danger">*</span></label>
                                <input id="iPProveedor" type="number" step="any" min="0" class="form-control"
                                    name="P_Proveedor" required>
                            </div>
                        </div>
                        {{!-- ******** $ PUBLICO ******** --}}
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="form-group">
                                <label for="P_Publico" class="col-form-label">$ Público: <span
                                        class="text-danger">*</span></label>
                                <input id="iPPublico" type="number" step="any" min="0" class="form-control"
                                    name="P_Publico" required>
                            </div>
                        </div>
                        {{!-- ******** % DESCUENTO ******** --}}
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="form-group">
                                <label for="Descuento" class="col-form-label">% Descuento:</label>
                                <input id="iDescuento" type="number" step="any" min="0" max="100" class="form-control"
                                    name="Descuento">
                            </div>
                        </div>

                        {{!-- ******** $ DESCUENTO ******** --}}
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="form-group">
                                <label for="P_Descuento" class="col-form-label">$ Descuento: <span
                                        class="text-danger">*</span></label>
                                <input id="iPDescuento" type="number" step="any" min="0" class="form-control"
                                    name="P_Descuento" disabled required>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        {{!-- ******** ACTIVO ******** --}}
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="form-group">
                                <div class="align-center">
                                    <label for="Activo" class="col-form-label">Activo</label>
                                    <input id="ckActive" type="checkbox" name="Activo" value="1">
                                </div>
                            </div>
                        </div>

                        {{!-- ******** IMAGEN ******** --}}
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="form-group">
                                <div class="align-center">
                                    <button type="button" id="btnMedImg" class="btn btn-info" name="MedImg">
                                        Agregar Imágen
                                        <i class="fa fa-image"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <span class="text-danger">* Campo Obligatorio</span>
                    </div>
                </div>

                {{!-- ******** BTNS ******** --}}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mx-auto" data-dismiss="modal">Cancelar</button>
                    <button type="submit" id="btnSave" class="btn btn-primary px-3 mx-auto">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/medicine/modalCreateUpdate.js"></script>