{{!-- Modal for Entries Quantity --}}
<div class="modal fade" id="modalEntry" tabindex="-1" role="dialog" aria-labelledby="modalEntryLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{!-- <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> --}}

            <form id="formEntry">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="ID" class="col-form-label">ID</label>
                                <input id="iID" type="text" class="form-control" name="ID" disabled>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="NombreE" class="col-form-label">Nombre Comercial</label>
                                <input id="iNombreE" type="text" class="form-control" name="NombreE" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="SaldoAE" class="col-form-label">Saldo anterior</label>
                                <input id="iSaldoAE" type="number" step="1" min="1" class="form-control" name="SaldoAE" disabled>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Cantidad" class="col-form-label">Cantidad</label>
                                <input id="iCantidad" type="number" step="1" min="1" class="form-control" name="Cantidad" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mx-auto" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn bg-pink mx-auto" data-dismiss="modal">Cancelar</button>
                    <button type="submit" id="btnAddEntry" class="btn btn-primary px-3 mx-auto">Añadir</button>
                </div>
            </form>
        </div>
    </div>
</div>